/* #region base */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #434455;
  background-color: #ffffff;
}
button {
  cursor: pointer;
  font-family: inherit;
}
address {
  font-style: normal;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: currentColor;
}
/* #endregion base */

/* #region top-line */
.top-line {
  background-color: #e7e9fc;
}
.logo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: #2e2f42;
  text-transform: uppercase;
}
.iris-color {
  color: #4d5ae5;
  text-transform: uppercase;
}
.nav-list {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #2e2f42;
}
.nav-list:hover {
  color: #404bbf;
}
.adress-links:hover {
  color: #404bbf;
}
/* #endregion top-line */

/* #region hero */
.hero {
  background-color: #2e2f42;
}
.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
}
.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  background-color: #4d5ae5;
}
.btn:hover {
  background-color: #404bbf;
}
/* #endregion hero */

/* #region solutions */
